[run]
source = .
include =
    backend/api/*
    backend/api/**/*
    backend/voice_agent/*
omit =
    */migrations/*
    */__pycache__/*
    tests/*
    */node_modules/*

[report]
show_missing = True
skip_covered = False
